<div id= "items-index">
  <div class="row">
   <div class="col-md-3 col-sm-3">
    <h3>Spinner</h3>
    <%= image_tag('imgs/img1.jpg') %>
    <%= link_to 'Read More' , item_path(1) , class: 'btn btn-primary' %>
   </div>
   <div class="col-md-3 col-sm-3">
     <h3>Spinner</h3>
     <%= image_tag('imgs/img2.jpg') %>
     <%= link_to 'Read More' , item_path(2) , class: 'btn btn-primary' %>
   </div>
   <div class="col-md-3 col-sm-3">
     <h3>Spinner</h3>
     <%= image_tag('imgs/img3.jpg') %>
     <%= link_to 'Read More' , item_path(3) , class: 'btn btn-primary' %>
   </div>
   <div class="col-md-3 col-sm-3">
     <h3>Spinner</h3>
     <%= image_tag('imgs/img4.jpg') %>
     <%= link_to 'Read More' , item_path(4) , class: 'btn btn-primary' %>
   </div>
 </div>
 <div class="row">
  <div class="col-md-3 col-sm-3">
   <h3>Spinner</h3>
   <%= image_tag('imgs/img5.jpg') %>
   <%= link_to 'Read More' , item_path(5) , class: 'btn btn-primary' %>
  </div>
  <div class="col-md-3 col-sm-3">
    <h3>Spinner</h3>
    <%= image_tag('imgs/img6.jpg') %>
    <%= link_to 'Read More' , item_path(6) , class: 'btn btn-primary' %>
  </div>
  <div class="col-md-3 col-sm-3">
    <h3>Spinner</h3>
    <%= image_tag('imgs/img7.jpg') %>
    <%= link_to 'Read More' , item_path(7) , class: 'btn btn-primary' %>
  </div>
  <div class="col-md-3 col-sm-3">
    <h3>Spinner</h3>
    <%= image_tag('imgs/img8.jpg') %>
    <%= link_to 'Read More' , item_path(8) , class: 'btn btn-primary' %>
  </div>
 </div>
</div>
